<head>
  <title>Leetspeak!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <h1>Your result</h1>
    @foreach (string item in Model)
     {
      <h3>@item</h3>
     }
</body>
